* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.2s ease;
}

.display-none {
  display: none !important;
}

.display-flex {
  display: flex !important;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

nav {
  padding: 0.7rem 1rem;
  background: #d6b2b6;
  display: flex;
  align-items: center;
  justify-content: end;

  .route-link {
    text-align: center;
    width: 6rem;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    border-radius: 0.3rem;
    color: #ffffff;
    background: transparent;
    border: 1px solid #fff;
    transform-style: preserve-3d;

    &:hover {
      transform: rotateX(20deg);
      border: 1px solid transparent;
      box-shadow: 0px 6px 6px -3px #ffffff;
    }
  }
}

.card-container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  flex-wrap: wrap;

  // overflow: scroll;
  .card {
    flex: 1 0 17rem;
    max-width: 17rem;
    aspect-ratio: 3/4;
    border: 2px solid #676363;
    background: #676363;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    overflow: hidden;

    .image-container {
      overflow: hidden;
      width: 100%;
      height: 55%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .text-container {
      flex: 1;
      padding: 0.5rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      color: #fff;

      h3 {
        font-size: 1.6rem;
      }

      p {
        font-size: 1.3rem;
        font-weight: lighter;
      }

      .add-to-cart {
        width: 7rem;
        height: 2.5rem;
        padding: 0.5rem 0.6rem;
        font-weight: bold;
        font-size: 1rem;
        border-radius: 0.2rem;
        border: none;

        &:hover {
          cursor: pointer;
        }
      }

      .card-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.4rem;
        width: 100%;
        height: 2.5rem;

        button,
        p {
          height: 100%;
          aspect-ratio: 1/1;
          font-size: 1.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          border-radius: 4px;
        }

        button {
          border: 2px solid #fff;

          &:hover {
            cursor: pointer;
            box-shadow: 0 0 2rem -0.5rem #cf0808;
          }
        }
      }
    }
  }
}

//cart
.cart-details-container {
  width: 100%;
  margin-top: auto;
  background: #d6b2b6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 3rem;
  color: #fff;

  > div {
    display: flex;
    align-items: center;
    font-size: 1.1rem;

    span {
      &:first-child {
        width: 10rem;
      }
    }
  }

  .button-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    button {
      width: fit-content;
      padding: 0.5rem 1rem;
      font-size: 0.9rem;
      border: 1px solid #fff;
      transform-style: preserve-3d;
      background: transparent;
      border-radius: 2px;
      color: #fff;

      &:hover {
        cursor: pointer;
        transform: rotateX(-20deg);
        border: 1px solid transparent;
        box-shadow: 0px -6px 6px -3px #ffffff;
      }
    }
  }
}
